html, body {
    margin: 0;
    padding: 0;
    text-align: center;
    /*background-color: black;
    color: white;*/
  }
  .split {
    height: 100%;
    width: 33%;
    position: fixed;
    top: 0;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
  }
  
  /* Control the right side */
  .right {
    right: 0;
  }

  .middle{
    left: 34%;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

    .container {
      display: block;
      max-width: 100%;
      height: auto;
    }

    .link-wrapper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      gap: 15px; /* space between buttons */
      align-items: center;
    }

    .button-class {
      background-color: rgba(0,0,0,0.6);
      color: white;
      padding: 10px 20px;
      font-size: 30px;
      font-family: sans-serif;
    }